/* main: index.scss*/

#skills-section {
  &.animate {
    .skill {
      &:after {
        left: 100%;
        -webkit-animation: uncover 3s linear;
        -moz-animation: uncover 3s linear;
      }
    }
  };

  .col-md-6:last-child {
    text-align: right;
  };

  h2 {
    color: $screen;
    display: inline-block;
    border-bottom: 2px solid $marigold;
    margin-bottom: 15px;
  };

  .bar {
    display: flex;
    background: $screen;
    padding-right: 5px;

    .tip {
      background: $background;
      color: white;
      padding: 5px;
    };

    .empty {
      flex: 1;

      .prog {
        height: 100%;
        background: $marigold;
      };
    };

    .percentage {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  };

  .skill {
    border-left: 5px solid $marigold;
    border-right: 5px solid $marigold;
    background: $background;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: $background;
    };

    &:hover {
      font-weight: bold;
    }
  };
};

// Variables for loaders
$htmlWidth: 90%;
$cssWidth: 75%;
$sassWidth: 75%;
$jsWidth: 80%;
$reactWidth: 70%;
$apiWidth: 40%;
$nodeWidth: 45%;
$nativeWidth: 65%;
$gitWidth: 70%;

// Create animations
@include loader(html, $htmlWidth);
@include loader(css, $cssWidth);
@include loader(sass, $sassWidth);
@include loader(js, $jsWidth);
@include loader(react, $reactWidth);
@include loader(node, $nodeWidth);
@include loader(api, $apiWidth);
@include loader(native, $nativeWidth);
@include loader(git, $gitWidth);

.active {
  #html {
    .prog {
      width: $htmlWidth;
      @include animateLoader('html 2s linear');
    };
  };

  #css {
    .prog {
      width: $cssWidth;
      @include animateLoader('css 2s linear');
    };
  };

  #sass {
    .prog {
      width: $sassWidth;
      @include animateLoader('sass 2s linear');
    };
  };

  #js {
    .prog {
      width: $jsWidth;
      @include animateLoader('js 2s linear');
    };
  };

  #react {
    .prog {
      width: $reactWidth;
      @include animateLoader('react 2s linear');
    };
  };

  #api {
    .prog {
      width: $apiWidth;
      @include animateLoader('api 2s linear');
    };
  };

  #node {
    .prog {
      width: $nodeWidth;
      @include animateLoader('node 2s linear');
    };
  };

  #native {
    .prog {
      width: $nativeWidth;
      @include animateLoader('native 2s linear');
    };
  };

  #git {
    .prog {
      width: $gitWidth;
      @include animateLoader('git 2s linear');
    };
  };
};
