/* main: index.scss*/

$screen: #C5C1C0;
$steel: #0A1612;
$denim: #1A2930;
$marigold: #F7CE3E;
$text: white;
$background: #2A2A2A;

@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
